@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/Resources/plugins/dist/css/upload-page.css">
<section class="content">
    <div class="box">
        <div class="b-header">
            <h1>Nhập danh sách điểm file FG</h1>
            <hr>
        </div>

        <div class="b-body">
            <div class="row">
                <div class="offset-8 col-md-4">
                    <div class="pull-right">
                        <select id="semester-selector"></select>
                        @*<button class="btn-success btn" id="download-template-btn"><i class="fa fa-download"></i> template</button>*@
                        <button class="btn-primary btn" id="import-mark-btn">Chọn file</button>
                            <button class="btn btn-primary hidden" id="submit-button">Import</button>
                            <input id="upload-file" class="hidden" type="file" name="upload-file" />
                        <p class="hidden" id="file-info">File: <span></span></p>
                        <button class="btn btn-danger hidden" id="cancel-file">Cancel</button>


                        <div class="progress" style="display:none">
                            <div id="upload-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                            </div>
                        </div>
                        @*<div class="col-md-3" style="padding:0; width: 200px;">
                            <input type="text" id="date-string" readonly style="height:42px; cursor:auto">
                        </div>*@
                    </div>
                </div>
            </div>
            <div>
                
                @*<button id="btn-export-allstudentmark" class="btn btn-success" title="Export all mark of student by semester">
                    <i class="fa fa-download"></i>Export Semester Excel
                </button>*@
                @*<form class="hidden" action="@Url.Action("DownloadExcelMark")" id="form-export-allstudentmark">
                    <input id="" class="hidden" name="semesterId" value="">
                </form>*@
            </div>
            @*<div>
                    <table id="mark-table" class="dataTable cell-border">
                        <thead>
                            <tr>
                                <th>MSSV</th>
                                <th>Tên sinh viên</th>
                                <th>Môn</th>
                                <th>Diem thanh phan</th>
                                <th>Số diem</th>
                                <th>Phan tram</th>
                            </tr>
                        </thead>
                    </table>
                </div>*@
            <div>
            <table id="error-table" class="dataTable cell-border">
                <thead>
                    <tr>
                        <th>Giảng viên</th>
                        <th>Lớp</th>
                        <th>Môn</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
            </table>
        </div>
        </div>

    </div>
</section>
<script>
    $(document).ready(function () {
        LoadSemester();
        $('#form-export-allstudentmark input[name="semesterId"]').val($('#semester-selector').val());
        //var table = $('#error-table').DataTable();
        //$('#date-string').daterangepicker({
        //    singleDatePicker: true,
        //});
    });

    @*$('#calculate-btn').on('click', function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CalculateAverageMark")',
            data: { semesterId: $('#semester-selector').val() },
            success: function (result) {

            }
        });
    });*@

    function LoadSemester() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadSemesterSelect")',
            success: function (result) {
                for (var i = 0; i < result.result.length; i++) {
                    $('#semester-selector').append("<option value='" + result.result[i].SemesterId + "'>" + result.result[i].Semester + "</option>");
                }
                $("#semester-selector").select2({
                    placeholder: "Tìm kiếm ki",
                    minimumInputLength: 2,
                });
                //LoadTable();
            }
        });
    }

    $('#btn-export-allstudentmark').on("click", function () {
        $('#form-export-allstudentmark input[name="semesterId"]').val($('#semester-selector').val());
        $('#form-export-allstudentmark').submit();
    });

    //$('#semester-selector').on('change', function () {
    //    //$('#mark-table').DataTable()._fnpagechange(0);
    //    $('#mark-table').DataTable().ajax.reload();
    //});

    function LoadErrorTable(data) {
        debugger
        //if (table != null) {
        //    //     table._fnpagechange(0);
        //    //     table._fnajaxupdate();
        //    table.ajax.reload();
        //}
        if ($.fn.dataTable.isDataTable('#error-table')) {
            $('#error-table').DataTable().destroy();
        }


        $('#error-table').DataTable({
            searchDelay: 1000,
            //"bServerSide": true,
            "bFilter": true,
            "bRetrieve": true,
            "sScrollX": "100%",
            "bScrollCollapse": true,
            "bDeferRender": true,
            "bProcessing": true,
            "bSort": false,
            "aaData": data,
            "oLanguage": {
                "sSearchPlaceholder": "",
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }

            },
            "aoColumnDefs": [
                {
                    "aTargets": [1],
                    "sClass": "min-width-150",
                    "bSortable": false,
                    "sWidth": "150px"
                },
                {
                    "aTargets": [0, 1, 2, 3],
                    "bSortable": false,
                },
                {
                    "aTargets": [0, 1, 2, 3],
                    "sClass": "text-center",
                }
            ],
            "bAutoWidth": false,
            //dom: 'Bfrtip',
            //buttons: [
            //    {
            //        extend: 'pageLength',
            //        text: 'Hiển thị 10 dòng',
            //    },
            //    {
            //        extend: 'excel',
            //        text: 'Xuất Excel',
            //    },
            //    {
            //        extend: 'pdf',
            //        text: 'Xuất PDF',
            //    },
            //]
        });
    }

    @*function LoadTable() {
        //if (table != null) {
        //    //     table._fnpagechange(0);
        //    //     table._fnajaxupdate();
        //    table.ajax.reload();
        //}

        $('#mark-table').DataTable({
            searchDelay: 1000,
            "bServerSide": true,
            "bFilter": true,
            "bRetrieve": true,
            "sScrollX": "100%",
            "bScrollCollapse": true,
            "bDeferRender": true,
            "bProcessing": true,
            "bSort": false,
            "sAjaxSource": '@Url.Action("LoadMarkTable")',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "semesterId", "value": $('#semester-selector').val() })
            },
            "oLanguage": {
                "sSearchPlaceholder": "",
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }

            },
            "aoColumnDefs": [
                {
                    "aTargets": [1],
                    "sClass": "min-width-150",
                    "bSortable": false,
                    "sWidth": "150px"
                },
                {
                    "aTargets": [0, 1, 2, 3, 4],
                    "bSortable": false,
                },
                {
                    "aTargets": [0, 1, 2, 3, 4],
                    "sClass": "text-center",
                }
            ],
            "bAutoWidth": false,
            //dom: 'Bfrtip',
            lengthMenu: [[10, 25, 50], ['10 dòng', '25 dòng', '50 dòng', 'Tất cả']],
            //buttons: [
            //    {
            //        extend: 'pageLength',
            //        text: 'Hiển thị 10 dòng',
            //    },
            //    {
            //        extend: 'excel',
            //        text: 'Xuất Excel',
            //    },
            //    {
            //        extend: 'pdf',
            //        text: 'Xuất PDF',
            //    },
            //]
        });
    }*@
    $('#import-mark-btn').click(function () {
        $('#upload-file').trigger("click");
    });

    $('#upload-file').on("change", function () {
        var fileName = this.files[0].name;
        $("#filename").html(fileName);

        if (fileName != null) {
            $('#import-mark-btn').addClass("hidden");
            $('#submit-button').removeClass("hidden");
            $('#cancel-file').removeClass("hidden");
            $('#file-info').removeClass("hidden");
            $('#file-info span').html(fileName);
        } else {
            $('#import-mark-btn').removeClass("hidden");
            $('#submit-button').addClass("hidden");
            $('#cancel-file').addClass("hidden");
            $('#file-info').addClass("hidden");
        }
    });

    $('#cancel-file').click(function () {
        $('#upload-file').val("");
        $('#import-mark-btn').removeClass("hidden");
        $('#submit-button').addClass("hidden");
        $('#cancel-file').addClass("hidden");
        $('#file-info').addClass("hidden");
    });

    $('#submit-button').on("click", function () {
        $('#upload-progress-bar').removeClass('progress-bar-success');    
            //$('#error-table').Datatable.destroy();
        var file = $("#upload-file")[0];

        //if (file.size > 20971520) {
        //    toastr.error('Max upload size is 20MB!');
        //}
        //else{
        $('#submit-button').attr("disabled", "disabled");
        var data = new FormData();
        for (var i = 0; i < $("#upload-file")[0].files.length; i++) {
            data.append("file" + i, $("#upload-file")[0].files[i]);
        }
        data.append("semesterId", $('#semester-selector').val());
        $(".progress").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadMarkFiles")',
            contentType: false,
            processData: false,
            data: data,
            xhr: function () {
                var settingXhr = $.ajaxSettings.xhr();
                if (settingXhr.upload) {
                    // For handling the progress of the upload
                    settingXhr.upload.addEventListener('progress', function (e) {
                        if (e.lengthComputable) {
                            $('#cancel-file').addClass("hidden");
                            $('#upload-progress-bar').removeClass('progress-bar-danger');
                            var percent = Math.ceil(e.loaded / e.total * 100);
                            $('#upload-progress-bar').attr('aria-valuenow', percent).css('width', percent + '%');
                            $('#upload-progress-bar').attr('aria-valuemax', 100);
                            $('#upload-progress-bar').html(percent + "%");
                            if (percent == 100) {
                                $('#upload-progress-bar').html("Processing...");
                            }
                        }
                    }, false);
                }
                return settingXhr;
            },
            success: function (result) {
                if (result.success) {
                    toastr.success(result.message);
                    $('#upload-progress-bar').html("Completed!");
                    $('#upload-progress-bar').addClass('progress-bar-success');
                    $('#cancel-file').click();
                    //if (result.error==true) {
                        $('#upload-progress-bar').html(result.message);
                        LoadErrorTable(result.resultList);
                    //}
                    //else {
                    //    $('#upload-progress-bar').html(result.message);
                    //    LoadErrorTable(result.resultList);
                    //}
                    //window.location.reload();

                } else {
                    toastr.error(result.message);
                    $('#upload-progress-bar').html("Fail to upload!");
                    $('#upload-progress-bar').addClass('progress-bar-danger');
                    $('#cancel-file').removeClass("hidden");
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                toastr.error(err);
                $('#upload-progress-bar').html("Fail to upload!");
                $('#upload-progress-bar').addClass('progress-bar-danger');
                $('#cancel-file').removeClass("hidden");
            },
        });
        $('#submit-button').removeAttr("disabled");
        //}
    });
</script>